.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #181616;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #d9dbde;
  font-size: 8rem;
  color: #b70422;
}

p {
  font-size: 2rem;
  color: #d9dbde;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 8%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  margin-bottom: 2%;

}
h2{
  font-size: 3rem;
  color: #d9dbde;
}
